html {
    display: block;
}

.highlight {
    background-color: aqua;
}

.text-color {
    color: aqua;
}

.jumbotron-splash {
    height: 85vh;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    font-size: 2em;
    background-color: rgba(219, 219, 219, 0.41);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    background-color: aqua;
}

.offer-container {
    background-color: black;
    color: #fff;
}

.meet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: none;
}

.card-img-top {
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}