html {
    display: block;
}

.highlight {
    background-color: aqua;
}

.text-color {
    color: aqua;
}

.jumbotron-splash {
    height: 85vh;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    font-size: 2em;
    background-color: rgba(219, 219, 219, 0.41);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    background-color: aqua;
}

.offer-container {
    background-color: black;
    color: #fff;
}

.meet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: none;
}

.card-img-top {
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}